/Base.class
/CreateTest$MyWatcher.class
/CreateTest.class
/DeleteTest$MyWatcher.class
/DeleteTest.class
/ExistsTest.class
/GetChildrenTest.class
/GetTest.class
/RestTestSuite.class
/RootTest.class
/SessionTest.class
/SetTest$MyWatcher.class
/SetTest.class
/WadlTest.class
